.additional {
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.additional__header {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  padding-top: 30px;
  padding-bottom: 30px;
}

.additional__list {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.additional__item {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

@media (min-width: @tablet-width) {
  .additional {
    width: 708px;
    margin: 0;
  }

  .additional__header {
    width: 628px;
    margin: 0;
    font-size: 36px;
    padding-top: 62px;
    padding-bottom: 14px;
    padding-left: 39px;
  }

  .additional__list {
    width: 688px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-bottom: 64px;
  }

  .additional__item {
    width: 283px;
    font-size: 20px;
    line-height: 1;
    padding-top: 52px;
    padding-left: 61px;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .additional {
    width: 1300px;
  }

  .additional__header {
    width: 1220px;
    padding-top: 27px;
    padding-bottom: 64px;
    padding-left: 40px;
  }

  .additional__list {
    width: 1300px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }

  .additional__item {
    width: 245px;
    padding-left: 80px;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 6px;
  }
}
