.catalog-additional {
  width: 280px;
  margin: 0 auto;
}

.catalog-additional__header {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 32px;

  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  position: relative;

  &::before {
    content: "";
    width: 53px;
    height: 3px;
    background-color: #68b738;
    position: absolute;
    bottom: 39px;
    z-index: -1;
    right: -20px;
  }
}

.catalog-additional__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-additional__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  padding-bottom: 13px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 280px;
    height: 1px;
    background-color: #cdcdcd;
    z-index: 2;
  }

  &:last-child::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 280px;
    height: 1px;
    background-color: #cdcdcd;
    z-index: 2;
  }
}

.catalog-additional__title {
  width: 280px;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 12px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.catalog-additional__table {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding-bottom: 16px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  font-family: "Arial", sans-serif;
  text-align: left;
  color: #444444;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  border-spacing: 0;
}

.catalog-additional__field {
  width: 140px;
  padding: 0;
}

.catalog-additional__value {
  width: 140px;
  padding: 0;

  text-align: right;
}

.catalog-additional__button {
  display: flex;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 11px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  background-color: #68b738;
}

@media (min-width: @tablet-width) {
  .catalog-additional {
    width: 708px;
  }

  .catalog-additional__header {
    padding-left: 37px;
    padding-top: 10px;
    margin-bottom: 48px;
    font-size: 36px;
    line-height: 1;
    position: relative;
    background-color: #ffffff;
    width: 374px;

    &::before {
      content: "";
      width: 768px;
      height: 3px;
      background-color: #68b738;
      position: absolute;
      bottom: 43px;
      z-index: -1;
      left: -30px;
    }
  }

  .catalog-additional__list {
    margin: 0;
    padding: 0;
    align-items: baseline;

    list-style: none;
  }

  .catalog-additional__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 631px;
    padding-left: 38px;
    padding-right: 37px;
    padding-bottom: 27px;
    border: solid 1px #cdcdcd;
    border-bottom: none;

    &:last-child {
      border-bottom: solid 1px #cdcdcd;
    }

    &::before {
      display: none;
    }

    &:last-child::after {
      display: none;
    }
  }

  .catalog-additional__title {
    width: 280px;
    padding: 0;
    padding-top: 26px;
    padding-bottom: 25px;

    font-size: 20px;
    line-height: 1;
  }

  .catalog-additional__table {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 226px;
    padding: 0;

    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: -7px;
  }

  .catalog-additional__field {
    text-align: right;
    width: 177px;

    &--milk {
      width: 196px;
    }
  }

  .catalog-additional__value {
    width: 140px;

    text-align: right;
  }

  .catalog-additional__button {
    width: 630px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-additional {
    width: 895px;
    margin: 0;
  }

  .catalog-additional__header {
    padding-left: 40px;
    padding-top: 18px;
    margin-bottom: 48px;
    font-size: 36px;
    line-height: 1;
    background-color: #ffffff;
    position: relative;
    width: 373px;

    &::before {
      content: "";
      width: 1300px;
      height: 3px;
      background-color: #68b738;
      position: absolute;
      bottom: 44px;
      z-index: -1;
      left: 0;
    }
  }

  .catalog-additional__list {
    margin: 0;
    padding: 0;

    padding-left: 40px;

    list-style: none;
  }

  .catalog-additional__item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 895px;
    margin: 0 auto;
    padding: 0;
    border: none;
    border-top: solid 1px #cdcdcd;

    &:last-child {
      border-bottom: solid 1px #cdcdcd;
    }
  }

  .catalog-additional__title {
    width: 290px;
    padding-top: 26px;
  }

  .catalog-additional__table {
    display: flex;
    justify-content: space-between;
    width: 288px;

    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
  }

  .catalog-additional__field {
    text-align: left;
    width: 245px;
  }

  .catalog-additional__value {
    width: 44px;
    text-align: left;
    margin-left: -5px;
  }

  .catalog-additional__button {
    width: 245px;
    margin-left: 0;
    margin-right: 0;
    margin-top: -4px;
  }
}
