.catalog-additional {
  width: 280px;
  margin: 0 auto;
}

.catalog-additional__header {
  margin-top: 30px;
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.catalog-additional__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-additional__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
}

.catalog-additional__title {
  width: 280px;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 29px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.catalog-additional__table {
  display: flex;
  justify-content: space-between;
  width: 280px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  font-family: "Arial", sans-serif;
  text-align: left;
  color: #444444;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.catalog-additional__field {
  width: 140px;
}

.catalog-additional__value {
  width: 140px;

  text-align: right;
}

.catalog-additional__button {
  display: flex;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 17px;
  padding-top: 13px;
  padding-bottom: 12px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  background-color: #68b738;
}
