.example {
  margin: 0 auto;

  background-color: #f2f2f2;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.example__title {
  margin: 0;
  margin-top: 31px;
  padding-top: 17px;
  padding-bottom: 23px;

  font-weight: normal;
  font-size: 36px;
  line-height: 1.67;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: @font-black;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.example__text {
  width: 270px;
  margin: 0;
  padding-bottom: 25px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  font-family: "Arial", sans-serif;
  text-align: left;
  color: @font-greyish-brown;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.example__table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 19px;
}

.example__container {
  width: 124px;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    border-radius: 3px;
    border: solid 1px #cdcdcd;
    position: absolute;
    width: 124px;
    height: 54px;
    z-index: 0;
    top: -14px;
    left: -1px;
  }
}

.example__value {
  width: 124px;
  padding-bottom: 9px;

  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.example__field {
  width: 80px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  position: relative;
  background-color: #f2f2f2;
  z-index: 2;

  &--weight {
    width: 81px;
  }

  &--days {
    width: 82px;
  }
}

.example__cost {
  justify-content: center;
  margin-bottom: 20px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: @font-black;
  text-transform: uppercase;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.example__slider__wrapper {
  justify-content: center;
  margin-bottom: 44px;
}

.example__item {
  justify-content: center;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .example {
    width: 768px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  .example__wrapper {
    width: 708px;
    margin: 0 auto;

    padding-right: 30px;
    padding-left: 30px;
  }

  .example__title {
    margin-bottom: 41px;
    margin-top: -4px;

    font-weight: normal;
    font-size: 60px;
    line-height: 1;
    font-family: "Oswald", "Arial", sans-serif;
    text-align: left;
    color: @font-black;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }

  .example__text {
    width: 701px;
    margin-bottom: 55px;
    padding-bottom: 0;

    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Arial", sans-serif;
    text-align: left;
    color: @font-greyish-brown;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }

  .example__cover {
    width: 708px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .example__table {
    width: 366px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 81px;
  }

  .example__container {
    width: 162px;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      border-radius: 3px;
      border: solid 1px #cdcdcd;
      position: absolute;
      width: 162px;
      height: 72px;
      z-index: 0;
      top: -17px;
      left: -1px;
    }
  }

  .example__value {
    width: 162px;
    padding-bottom: 11px;

    font-size: 30px;
    line-height: 1.23;
  }

  .example__field {
    font-size: 14px;
    position: relative;
    background-color: #ffffff;
    z-index: 2;

    &--weight {
      width: 117px;
    }

    &--days {
      width: 140px;
    }
  }

  .example__cost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 192px;
    margin-bottom: 80px;
    margin-top: -7px;

    font-weight: normal;
    font-size: 20px;
    line-height: 1;
    font-family: "Oswald", "Arial", sans-serif;
    text-align: right;
    color: @font-black;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }

  .example__costwrapper {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .example__slider__wrapper {
    justify-content: center;
    margin-bottom: 67px;
  }

  .example__item {
    justify-content: center;
    margin-bottom: 35px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: 1220px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
  }

  .example__wrapper {
    width: 570px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }

  .example__title {
    width: 570px;
    margin: 0;
    padding-bottom: 147px;
    padding-top: 12px;

    font-weight: normal;
    font-size: 60px;
    line-height: 1;
    font-family: "Oswald", "Arial", sans-serif;
    text-align: left;
    color: @font-black;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }

  .example__text {
    width: 438px;
    padding-bottom: 28px;

    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Arial", sans-serif;
    text-align: left;
    color: @font-greyish-brown;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }

  .example__cover {
    width: 366px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .example__table {
    display: flex;
    width: 366px;
    margin: 0;
    padding-bottom: 56px;
  }

  .example__cost {
    width: 327px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;

    font-weight: normal;
    font-size: 20px;
    line-height: 1;
    font-family: "Oswald", "Arial", sans-serif;
    text-align: left;
    color: @font-black;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }

  .example__field {
    background-color: #f2f2f2;
  }

  .example__slider__wrapper {
    justify-content: center;
    margin-bottom: 58px;
  }

  .example__item {
    justify-content: center;
    margin-bottom: 35px;
  }
}
