.features {
  width: 280px;
  margin: 0 auto;
}

.features__title {
  margin-top: 17px;
  margin-bottom: 19px;

  font-weight: normal;
  font-size: 36px;
  line-height: 1.67;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.features__list {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 80px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  font-family: "Arial", sans-serif;
  text-align: left;
  color: #444444;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  &--useful::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: block;
    width: 60px;
    height: 60px;

    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
    background-color: #68b738;
    background-repeat: no-repeat;
  }

  &--quickly::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: block;
    width: 60px;
    height: 60px;

    background-image: url("../img/advantage-powder@1x.png");
    background-position: center;
    background-color: #68b738;
    background-repeat: no-repeat;
  }

  &--easy::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: block;
    width: 60px;
    height: 60px;

    background-image: url("../img/advantage-dining@1x.png");
    background-position: center;
    background-color: #68b738;
    background-repeat: no-repeat;
  }

  &--changes::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: block;
    width: 60px;
    height: 60px;

    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
    background-color: #68b738;
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .features {
    width: 768px;
    margin: 0 auto;
  }

  .features__title {
    width: 708px;
    margin-left: 30px;
    margin-bottom: 52px;
    margin-top: -8px;

    font-size: 60px;
    text-align: left;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;

    font-size: 16px;
  }

  .features__item {
    display: flex;
    width: 245px;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-top: 113px;
    padding-bottom: 132px;
    padding-right: 109px;

    font-size: 16px;
    line-height: 1.5;
    counter-increment: section;

    &::before {
      content: counter(section);
      position: absolute;
      top: -40px;
      left: 115px;
      z-index: -1;

      font-size: 281px;
      line-height: 281px;
      font-family: "Oswald", "Arial", sans-serif;
      color: rgb(242, 242, 242);
    }

    &--useful::after {
      left: 30px;
      width: 80px;
      height: 80px;
    }

    &--quickly::after {
      left: 30px;
      width: 80px;
      height: 80px;
    }

    &--easy::after {
      left: 30px;
      width: 80px;
      height: 80px;
    }

    &--changes::after {
      left: 30px;
      width: 80px;
      height: 80px;
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: 1300px;
    margin: 0 auto;
  }

  .features__title {
    margin: 0;
    padding-top: 53px;
    padding-bottom: 52px;
    padding-left: 40px;

    text-align: left;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1300px;
    margin: 0 auto;
  }

  .features__item {
    display: flex;
    flex-wrap: wrap;
    width: 245px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0;
    padding-top: 112px;
    padding-bottom: 114px;

    &::before {
      top: -40px;
      left: 155px;

      width: 80px;
      height: 80px;
    }

    &--useful::after {
      top: 0;
      left: 40px;

      width: 80px;
      height: 80px;
    }

    &--quickly::after {
      top: 0;
      left: 40px;

      width: 80px;
      height: 80px;
    }

    &--easy::after {
      top: 0;
      left: 40px;

      width: 80px;
      height: 80px;
    }

    &--changes::after {
      top: 0;
      left: 40px;

      width: 80px;
      height: 80px;
    }
  }
}
