.form-main {
  width: 320px;
  margin: 0 auto;
}

.form-main__header {
  padding-left: 20px;
  margin-top: 14px;

  font-weight: normal;
  font-size: 36px;
  line-height: 1.67;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -17px;
    left: 0;
    width: 320px;
    height: 1px;
    background-color: #cdcdcd;
    z-index: 2;
  }
}

.form-main__text {
  padding-left: 20px;
  width: 230px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  font-stretch: normal;
  letter-spacing: normal;
}

.form-main__wrapper {
  padding-bottom: 26px;
}

@media (min-width: @tablet-width) {
  .form-main {
    width: 768px;
  }

  .form-main__wrapper {
    width: 708px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .form-main__header {
    padding-left: 0;
    margin-top: 29px;

    font-size: 60px;
    line-height: 1;
  }

  .form-main__text {
    width: 323px;
    padding-left: 40px;
    margin-top: 55px;
    margin-bottom: 53px;

    font-size: 20px;
    line-height: 1.5;
  }
}

@media (min-width: @desktop-width) {
  .form-main {
    width: 1440px;
  }

  .form-main__wrapper {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .form-main__header {
    padding-left: 0;
    margin-top: -4px;
    font-size: 60px;
    line-height: 1;
  }

  .form-main__text {
    padding-left: 0;
    padding-bottom: 0;
  }
}
