.info {
  width: 280px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.info__item {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;
}

.info__label {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}

.info__input {
  margin-right: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
  border: solid 1px;
  border-color: rgba (​205, ​ 205, ​ 205, 0.5);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

  &--name {
    width: 230px;
  }

  &--weight {
    width: 205px;
  }

  &--age {
    width: 172px;
  }
}
