.owner-contacts {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #cdcdcd;
    z-index: 2;
  }
}

.owner-contacts__header {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  padding-top: 44px;
  padding-bottom: 33px;
  position: relative;

  &::before {
    content: "";
    width: 99px;
    height: 3px;
    background-color: #68b738;
    position: absolute;
    bottom: 44px;
    z-index: -1;
    right: -20px;
  }
}

.owner-contacts__list {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.owner-contacts__item {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 13px;
}

.owner-contacts__input {
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
  padding-left: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;

  &--email {
    width: 203px;
  }

  &--phone {
    width: 187px;
  }
}

.owner-contacts__svg {
  position: absolute;
  right: 11px;
}

@media (min-width: @tablet-width) {
  .owner-contacts {
    width: 768px;
    margin: 0;

    &::before {
      display: none;
    }
  }

  .owner-contacts__header {
    width: 553px;
    font-size: 36px;
    padding-top: 75px;
    padding-bottom: 69px;
    padding-left: 38px;
    background-color: #ffffff;
    margin: 0;

    position: relative;

    &::before {
      content: "";
      width: 768px;
      height: 3px;
      background-color: #68b738;
      position: absolute;
      bottom: 80px;
      z-index: -1;
      left: -30px;
    }
  }

  .owner-contacts__list {
    width: 635px;
    margin: 0;
    margin-left: 38px;
  }

  .owner-contacts__item {
    width: 635px;
    font-size: 20px;
    line-height: 1;
    padding-bottom: 5px;
  }

  .owner-contacts__label {
    &--mail {
      margin-left: 3px;
    }
  }

  .owner-contacts__input {
    font-size: 20px;
    line-height: 1;
    padding-left: 19px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 7px;
    margin-bottom: 7px;

    &--email {
      width: 528px;
    }

    &--phone {
      width: 513px;
    }
  }
}

@media (min-width: @desktop-width) {
  .owner-contacts {
    width: 1220px;
  }

  .owner-contacts__header {
    width: 1220px;
    padding-top: 59px;
    padding-bottom: 61px;
  }

  .owner-contacts__list {
    width: 1220px;
    display: flex;
    flex-direction: row;
  }

  .owner-contacts__item {
    width: 610px;

    &:nth-child(2) {
      width: 570px;
      padding-left: 40px;
    }
  }

  .owner-contacts__input {
    font-size: 20px;
    line-height: 1;
    padding-left: 21px;
    padding-top: 17px;
    padding-bottom: 14px;
    margin-left: 16px;

    &--email {
      width: 484px;
    }

    &--phone {
      width: 470px;
    }
  }
}
