.owner-contacts {
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.owner-contacts__header {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  padding-top: 13px;
  padding-bottom: 13px;
}

.owner-contacts__list {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.owner-contacts__item {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
  align-items: center;
  justify-content: space-between;
}

.owner-contacts__input {
  margin: 0 auto;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 14px;
  margin-left: 15px;

  &--email {
    width: 219px;
  }

  &--phone {
    width: 204px;
  }
}
