.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 65px;
  width: 191px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 59px;
    width: 174px;
  }

}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 60px;
    width: 203px;
  }
}
