.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header__logo {
  height: 65px;
  width: 191px;
}

.page-header__logo img {
  height: 39px;
  width: 191px;
  text-align: left;
  padding-left: 20px;
}


@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 59px;
    width: 174px;
  }

}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 60px;
    width: 203px;
  }
}
