.present {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 22px;

  background-color: #68b738;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 280px auto;
}

.present__text {
  width: 160px;
  margin: 0 auto;
  padding-top: 190px;
  padding-bottom: 43px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
