.programs {
  width: 320px;
  margin: 0 auto;
}

.programs__list {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.programs__item {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  list-style: none;

  background-color: #f2f2f2;
}

.programs__item--slim {
  margin-bottom: 20px;
}

.programs__title {
  position: relative;

  margin-top: 30px;
  margin-bottom: 16px;
  padding-left: 91px;

  font-weight: normal;
  font-size: 24px;
  line-height: 1.54;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  &::before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 22px;

    display: block;
    width: 50px;
    height: 50px;

    background-color: #68b738;
    border-radius: 50%;
  }

  &--slim::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 30px;
    z-index: 2;

    display: block;
    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--pro::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 13px;
    z-index: 2;

    display: block;
    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.programs__description {
  width: 240px;
  margin-bottom: 42px;
  padding-left: 20px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
  font-family: "Arial", sans-serif;
  text-align: left;
  color: #444444;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  &--pro {
    width: 240px;
    padding-left: 20px;
    margin-bottom: 42px;
  }
}

.programs__link {
  position: relative;

  margin-bottom: 22px;
  padding-left: 20px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  &::before {
    content: "";
    position: absolute;
    width: 240px;
    height: 1px;
    background-color: #d9d9d9;
    top: -20px;
    left: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 115px;
    z-index: 2;

    display: block;
    width: 25px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .programs {
    width: 768px;
  }

  .programs__wrapper {
    width: 708px;
    margin: 0 auto;
  }

  .programs__list {
    width: 708px;
    margin: 0 auto;
  }

  .programs__item {
    width: 653px;
    margin: 0;
    padding-left: 53px;
    margin-bottom: 35px;
  }

  .programs__title {
    margin-top: 64px;
    margin-bottom: 0;
    padding-left: 0;

    font-size: 36px;

    &::before {
      top: 25px;
      left: 393px;

      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 13px;
      left: 423px;

      width: 141px;
      height: 194px;
    }

    &--pro::after {
      content: "";
      top: 68px;
      left: 359px;

      width: 268px;
      height: 113px;
    }
  }

  .programs__description {
    width: 375px;
    margin-bottom: 55px;
    padding-left: 0;
    line-height: 1.5;

    font-size: 16px;

    &--pro {
      width: 344px;
      line-height: 1.5;
      margin-bottom: 55px;
      padding-left: 0;

      font-size: 16px;
    }
  }

  .programs__link {
    margin-bottom: 61px;
    padding-left: 0;

    font-size: 20px;

    &::before {
      display: none;
    }

    &::after {
      bottom: 3px;
      left: 130px;
    }

    &--pro::after {
      left: 125px;
    }
  }
}

@media (min-width: @desktop-width) {
  .programs {
    width: 1220px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 84px;
  }

  .programs__wrapper {
    width: 1220px;
    margin: 0;
  }

  .programs__list {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .programs__item {
    justify-content: space-between;
    width: 520px;
    padding-left: 50px;
  }

  .programs__title {
    padding-top: 66px;
    padding-bottom: 27px;
    padding-left: 163px;
    margin: 0;

    &::before {
      top: 46px;
      left: 2px;

      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: 39px;
      left: 16px;
      width: 71px;
      height: 97px;
    }

    &--pro::after {
      content: "";
      top: 68px;
      left: -16px;
      width: 134px;
      height: 57px;
    }
  }

  .programs__description {
    padding-top: 37px;
    margin: 0;
    width: 466px;
    padding-left: 2px;

    &--pro {
      width: 450px;
      padding-top: 38px;
      margin: 0;
      padding-left: 2px;
    }
  }

  .programs__link {
    padding-bottom: 62px;
    padding-top: 31px;
    padding-left: 2px;
    margin: 0;

    &::after {
      bottom: 66px;
      left: 134px;
    }

    &--pro::after {
      left: 128px;
    }
  }
}
