.slider {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0;

  background-color: #f2f2f2;
}

.slider__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  margin-top: 4px;

  &--before {
    display: block;
    width: 320px;
    height: 240px;
  }

  &--after {
    display: none;
    width: 311px;
    height: 232px;
  }
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 38px;
}

.slider__toggle {
  position: relative;

  width: 82px;
  height: 14px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 6px;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;

    display: block;
    width: 35px;
    height: 6px;

    background-color: #68b738;
    border-radius: 3px;
  }
}

.slider__link {
  display: block;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  &--before {
    width: 46px;
    padding-right: 15px;

    text-align: right;
  }

  &--after {
    width: 44px;
    padding-left: 18px;

    text-align: left;
  }
}

@media (min-width: @tablet-width) {
  .slider {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 768px;
    background-color: #ffffff;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 384px;
      z-index: 0;

      display: block;
      width: 100%;
      height: 463px;

      background: linear-gradient(to right, rgb(242, 242, 242) 50%, #eaeaea 50%);
      transform: translateX(-50%);
    }
  }

  .slider__list {
    width: 708px;
    height: 517px;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  .slider__item {
    width: 708px;
    height: 517px;
    margin: 0 auto;

    &--before {
      position: absolute;
      left: 15px;
      top: 0;
      display: block;
      width: 690px;
      height: 517px;
      clip: rect(auto, 340px, auto, auto);
      z-index: 2;
    }

    &--after {
      position: absolute;
      display: block;
      width: 690px;
      height: 517px;
      clip: rect(auto, auto, auto, 335px);
      z-index: 1;
      right: 0;
      top: 0;
    }
  }

  .slider__image {
    width: 708px;
    height: 517px;
  }

  .slider__toggles {
    margin-top: 18px;
    margin-bottom: 67px;
    position: relative;
    z-index: 2;

    width: 569px;

    &::after {
      content: "";
      width: 428px;
      height: 6px;
      margin: 0;
      position: absolute;
      left: 71px;
      z-index: -1;

      background-color: #dcdcdc;
      border: none;
      border-radius: 2.5px;
    }
  }

  .slider__link {
    font-size: 20px;
    line-height: 1;
    border-bottom: #bebebe 1px dotted;
    padding-bottom: 7px;

    &:hover {
      border-bottom: #666666 1px solid;
    }

    &:active {
      border-bottom: transparent 1px solid;
    }

    &--before {
      width: 46px;
      margin-right: 25px;
      padding: 0;
      padding-bottom: 7px;

      text-align: right;
    }

    &--after {
      width: 50px;
      padding: 0;
      margin-left: 19px;
      padding-bottom: 7px;

      text-align: left;
    }
  }

  .slider__toggle {
    position: absolute;
    top: -5px;
    left: 267px;

    width: 34px;
    height: 34px;

    background-color: #ffffff;
    border: solid 1px #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      top: -9px;
      left: 266px;
      width: 34px;
      height: 34px;

      border: solid 2px #68b738;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &::before {
      display: none;
    }

    &::after {
      content: "";

      display: block;
      width: 8px;
      height: 8px;
      margin-top: 13px;
      margin-left: 13px;

      background-color: #68b738;
      border-radius: 50%;
    }
  }
}

@media (min-width: @desktop-width) {
  .slider {
    width: 690px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -681px;

      display: block;
      width: 1440px;
      height: 462px;

      background: linear-gradient(to right, #f2f2f2 72.65%, #eaeaea 53%);
      z-index: 0;
      transform: none;
    }
  }

  .slider__list {
    width: 690px;
    height: 517px;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  .slider__item {
    &--before {
      left: 0;
      top: -113px;

      clip: rect(auto, 365px, auto, auto);
    }

    &--after {
      left: 0;
      top: -117px;

      clip: rect(auto, auto, auto, 365px);
    }
  }

  .slider__toggles {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 570px;
    margin: 0;
    margin-left: 80px;
    margin-top: -71px;

    &::before {
      display: none;
    }

    &::after {
      content: "";
      width: 428px;
      height: 6px;
      margin: 0;
      position: absolute;
      left: 71px;
      z-index: -1;

      background-color: #dcdcdc;
      border: none;
      border-radius: 2.5px;
    }
  }

  .slider__link {
    font-size: 20px;
    line-height: 1;
    padding-bottom: 7px;

    &--before {
      width: 46px;
      margin-right: 25px;

      text-align: right;
    }

    &--after {
      width: 50px;
      margin-left: 19px;

      text-align: left;
    }
  }

  .slider__toggle {
    position: absolute;

    width: 34px;
    height: 34px;

    background-color: #ffffff;
    border: solid 1px #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: solid 2px #68b738;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &::after {
      content: "";

      display: block;
      width: 8px;
      height: 8px;
      margin-top: 13px;
      margin-left: 13px;

      background-color: #68b738;
      border-radius: 50%;
    }
  }
}
