.target {
  width: 280px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  padding-top: 22px;
}

.target__label {
  cursor: pointer;
  padding-left: 17px;
  position: relative;

  &:active {
    opacity: 0.3;
  }
}

.target__radio {
  display: none;
}

.target__radio + .target__label::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: -2px;
  left: -29px;
  width: 28px;
  height: 28px;

  border: 1px solid rgb(205, 205, 205);
  border-radius: 50%;
}

.target__radio:checked + .target__label::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 7px;
  left: -20px;

  width: 12px;
  height: 12px;

  background-color: #68b738;
  border-radius: 50%;
}

.target__radio + .target__label:hover::before,
.target__radio + &:focus::before,
.target__radio + &:active::before {
  border: 1px solid rgb(186, 186, 186);
}

.target__item {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 29px;
}

@media (min-width: @tablet-width) {
  .target {
    width: 600px;
    margin: 0;
  }

  .target__item {
    width: 600px;
    font-size: 20px;
    line-height: 1;
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 71px;
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .target {
    width: 610px;
    margin: 0;
    margin-top: 27px;
  }

  .target__item {
    width: 500px;
    font-size: 20px;
    line-height: 1;
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 0;
    margin-left: 110px;
  }
}
